[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 14.0

[submodule "stesi/gles_mobile"]
	path = stesi/gles_mobile
	url = git@github.com:stesi/gles_mobile.git
	branch = 14.0

[submodule "ingegniamo/emmelogistica_custom"]
	path = ingegniamo/emmelogistica_custom
	url = git@github.com:ingegniamo/emmelogistica_custom.git
	branch = 14.0

[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0

[submodule "stesi/gles_td"]
	path = stesi/gles_td
	url = git@github.com:stesi/gles_td.git
	branch = 14.0

[submodule "OCA/stock-logistics-barcode"]
	path = OCA/stock-logistics-barcode
	url = git@github.com:OCA/stock-logistics-barcode.git
	branch = 14.0

[submodule "ingegniamo/stock_put_in_exp_pack"]
	path = ingegniamo/stock_put_in_exp_pack
	url = git@github.com:ingegniamo/stock_put_in_exp_pack.git
	branch = 14.0
